.logo {
    font-family    : Raleway, sans-serif;
    font-weight    : bold;
    font-size      : 26px;
    line-height    : 1.19;
    text-decoration: none;
}

.accent {
    color: var(--accent-color);
}

.logo-header {
    color: var(--logo-color-header);
}

.logo-footer {
    color: var(--logo-color-footer);
}
